<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Exercise", exercises_path, class: "btn btn-primary" %>
  <%= link_to "Meal", "#", class: "btn btn-primary" %>

  <p>Email: <%= current_user.email %></p>

  <p>Exercises:</p>
  <ul>
    <% current_user.exercises.each_with_index do |exercise, index| %>
      <li>
        <%= "Exercise #{index + 1}: #{exercise.exercise_type}" %><br>
        <%= "Duration: #{exercise.duration} min" %><br>
        <%= "Calories Burnt: #{exercise.calories_burnt} kcal" %>
      </li>
    <% end %>
  </ul>

  <p>Meals:</p>
  <ul>
    <% current_user.consumptions.each_with_index do |consumption, index| %>
      <li>
        <%= "Food #{index + 1}: #{consumption.food_name}" %><br>
        <%= "Date: #{consumption.date}" %><br>
        <%= "Calories: #{consumption.calories} kcal" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
<% end %>
