<h1 class="mb-4">Weekly Progress</h1>

<%= form_with url: portfolio_weekly_path, method: :get, local: true, class: 'mb-4' do %>
  <div class="input-group">
    <%= date_field_tag :week_start, params[:week_start] || Date.today.beginning_of_week(:sunday).to_s, class: 'form-control' %>
    <div class="input-group-append">
      <%= submit_tag "Show Week", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>



<div class="alert alert-secondary text-center mt-4">
  <p class="h5">Selected Week Range:</p>
  <% start_date = Date.parse(params[:week_start] || Date.today.beginning_of_week(:sunday).to_s) %>
  <% end_date = start_date.end_of_week(:saturday) %>
  <p class="h4"><%= "#{start_date.strftime('%b %d')} - #{end_date.strftime('%b %d')}" %></p>
</div>

<%= bar_chart @consumptions_data,
  class: 'box',
  theme: 'sakura',
  options: {
    series: {
      barWidth: '50%'
    },
    tooltip: {
      valueFormatter: RailsCharts.js("(value) => Math.round(value) + ' kcal'")
    }
  }
%>
