<div id="<%= dom_id(consumption) %>" class="card mb-3">
  <div class="card-body">

    
    <p class="card-text">
      <strong>Date:</strong> <%= consumption.date %>
    </p>
    <p class="card-text">
      <strong>Food Name:</strong> <%= consumption.food_name %>
    </p>
    <p class="card-text">
      <strong>Meal Type:</strong> <%= consumption.meal_type %>
    </p>

    <p class="card-text">
      <strong>Calories:</strong> <%= consumption.calories %>
    </p>
  </div>
</div>
