
  <div class="container mt-5">
    <h1 class="mb-4">Edit Consumption</h1>

    <%= form_for @consumption do |f| %>
      <div class="form-group">
        <%= f.label :food_name, class: "form-label" %>
        <%= f.text_field :food_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :calories, class: "form-label" %>
        <%= f.number_field :calories, class: "form-control", step: "any" %>
      </div>

      <div class="form-group">
        <%= f.label :date, class: "form-label" %>
        <%= f.date_field :date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update Consumption", class: "btn btn-primary" %>
        <%= link_to 'Cancel', consumptions_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

