<p style="color: green"><%= notice %></p>
<h1>Find Food</h1>


<%= form_with(url: consumptions_path, method: :get, local: true) do |search_form| %>
  <div class="form-group">
    <% search_form.label :q, "Search Food", class: "control-label" %>
    <%= search_form.text_field :q, class: "form-control", placeholder:"e.g. 2 pcs of bacon, 2 cups rice" %>
  </div>
  <div class="form-group">
    <%= search_form.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<div>
  <% if @searched_consumptions.present? %>
    <div class="card border-success mt-4">
      <div class="card-body">
        <h3 class="card-title text-success">Food Found:</h3>
        <ul class="list-group">
          <% @searched_consumptions.each do |food| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <strong>Name:</strong> <%= food["name"].titleize %><br>
                <strong>Serving Size:</strong> <%= "#{food["serving_size_g"]} g" %><br>
                <strong>Calories:</strong> <%= "#{food["calories"]} kcal" %>
              </div>
              <%= link_to "Add this food", new_consumption_path(searched_consumption: food.to_json), class: "btn btn-success btn-sm" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div id="consumptions" class="mt-2">
      <% if @consumptions.present? %>
      <h5 class="card-title">Consumption Details</h5>
  <% @consumptions.each do |consumption| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= render consumption %>
        <p class="card-text">
          <%= link_to "Show this food", consumption, class: "btn btn-info btn-sm mt-1" %>
        </p>
      </div>
    </div>
  <% end %>
   <% end %>

</div>
