<div id="<%= dom_id consumption %>">
  <p>
    <strong>Date:</strong>
    <%= consumption.date %>
  </p>

  <p>
    <strong>Food Name:</strong>
    <%= consumption.food_name %>
  </p>

  <p>
    <strong>Meal Type:</strong>
    <%= consumption.meal_type %>
  </p>

  <p>
  <strong>Macros:</strong>
  <%= consumption.macros %>
  </p>


  <p>
    <strong>Calories:</strong>
    <%= consumption.calories %>
  </p>

</div>
