<div id="<%= dom_id(exercise) %>" class="card border-secondary mb-2">
  <div class="card-header bg-secondary text-white">
    <h5 class="card-title mb-0">Exercise Details</h5>
  </div>
  <div class="card-body p-2">
    <dl class="row mb-0">
      <dt class="col-sm-5 font-weight-bold">Date:</dt>
      <dd class="col-sm-7 mb-1"><%= exercise.date %></dd>

      <dt class="col-sm-5 font-weight-bold">Type:</dt>
      <dd class="col-sm-7 mb-1"><%= exercise.exercise_type %></dd>

      <dt class="col-sm-5 font-weight-bold">Duration:</dt>
      <dd class="col-sm-7 mb-1"><%= exercise.duration %> min</dd>

      <dt class="col-sm-5 font-weight-bold">Calories:</dt>
      <dd class="col-sm-7 mb-0"><%= exercise.calories_burnt %> kcal</dd>
    </dl>
  </div>
</div>
