<div id="<%= dom_id(exercise) %>" class="card  p-3">
  <dl class="row">
    <dt class="col-sm-3">Date:</dt>
    <dd class="col-sm-9"><%= exercise.date %></dd>

    <dt class="col-sm-3">Exercise Type:</dt>
    <dd class="col-sm-9"><%= exercise.exercise_type %></dd>

    <dt class="col-sm-3">Duration:</dt>
    <dd class="col-sm-9"><%= exercise.duration %> minutes</dd>

    <dt class="col-sm-3">Calories Burnt:</dt>
    <dd class="col-sm-9"><%= exercise.calories_burnt %> kcal</dd>
  </dl>
</div>
