<div id="<%= dom_id exercise %>">
  <p>
    <strong>Date:</strong>
    <%= exercise.date %>
  </p>

  <p>
    <strong>Exercise Type:</strong>
    <%= exercise.exercise_type %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= exercise.duration %>
  </p>

  <p>
    <strong>Calories burnt:</strong>
    <%= exercise.calories_burnt %>
  </p>

</div>
