<%= form_with(model: exercise, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :exercise_type, class: "form-label" %>
    <%= form.text_field :exercise_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :duration, class: "form-label" %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :calories_burnt, class: "form-label" %>
    <%= form.number_field :calories_burnt, class: "form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Save Exercise", class: "btn btn-primary" %>
  </div>
<% end %>
