<p style="color: green"><%= notice %></p>

<h1>Exercises</h1>

<%= form_with(url: exercises_path, method: :get, local: true) do |search_form| %>
  <div class="form-group">
    <% search_form.label :q, "Search Exercise", class: "control-label" %>
    <%= search_form.text_field :q, class: "form-control", placeholder:"e.g. 40 minutes walking, 2 hr jogging" %>
  </div>

  <div class="form-group d-flex justify-content-between align-items-center">
    <%= search_form.submit "Search", class: "btn btn-primary" %>
    <%= link_to "New custom exercise", new_exercise_path, class: "btn btn-secondary" %>
  </div>
<% end %>


<% if @searched_exercise.present? %>
  <div class="card border-success mt-4">
    <div class="card-body">
      <h3 class="card-title text-success">Exercise Found:</h3>
      <p><strong>Name:</strong> <%= @searched_exercise["name"].titleize %></p>
      <p><strong>Current Duration:</strong> <%= @searched_exercise["duration_min"] %> minutes</p>
      <p><strong>Current Calories Burnt:</strong> <%= @searched_exercise["nf_calories"] %> kcal</p>
      <div>
        <%= link_to "Add this exercise", new_exercise_path(searched_exercise: @searched_exercise), class: "btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
<% end %>



<div id="exercises" class="mt-2">
  <% @exercises.each do |exercise| %>
      <div class="card-body">
        <%= render exercise %>
        <p class="card-text">
          <%= link_to "Show this exercise", exercise, class: "btn btn-info btn-sm mt-3" %>
        </p>
 
    </div>
  <% end %>
</div>


