<p class="text-success"><%= notice %></p>

<div class="card mt-4">
  <div class="card-body">
    <%= render partial: 'exercise', locals: { exercise: @exercise } %>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <%= link_to "Edit this exercise", edit_exercise_path(@exercise), class: "btn btn-primary" %>
    <%= link_to "Back to exercises", exercises_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this exercise", @exercise, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>
